table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}
th, td {
  padding: 12px;
  border: 1px solid #ddd;
}
th {
  background-color: darkblue;
  font-weight: bold;
  color: white;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}
tr:hover {
  background-color: #f1f1f1;
}
td {
  vertical-align: top;
}
.card-b h1{
  text-align: center;
}