/* src/Login.css */
.login-container {
    width: 300px;
    height: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  
  .form-group {
    margin-bottom: 25px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    box-sizing: border-box;
  }
  
  .error {
    color: red;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .login-container button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(90deg, darkblue, #ffb800);    height: 40px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .containers button:hover {
    background-color: darkblue;
  }
  