/* src/App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f1f1eb;
}



.h2{
  color: darkblue;
  text-align: center;
 }
 .button1{
  width: 300px;
  /* margin-left: 10px; */
  text-align: center;
  border-right: 0.1px solid hwb(265 31% 49%);
}
.classes{
  margin: 90px;
}

.spans{
  font-size: large;
  font-weight: 200;
  text-align: start;
  color: black;
} 



/* .courses {
  text-align: center;
}

.courses button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
} */

.popular-courses {
  display: flex;
  justify-content: center;
  padding: 2rem;
  flex-wrap: wrap;
}


.footer {
  color: black;
  text-align: center;
  padding: 1rem;
  background-color: white;
}
