.courses {
  text-align: center;
  padding: 2rem 0;
}

/* .courses button {
  margin: 0.5rem;
  width: 17%;
  font-size: medium;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
border: none;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}
.courses button:hover{
  animation: button-particles 1s ease-in-out infinite;
  transform: translateY(-9px);

} */
 .fa-icon{
  margin-right: 20px;
 }
.button {
  --color: black;
  /* padding: 0.8em 1.75em; */
  width: 300px;
  border-radius: 15px;
  border: .1px solid #FFD43B;
  transition: .5s;
  position: relative;
  cursor: pointer;
  font-weight: 600;
  font-size: 27px;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  text-transform: capitalize;
  color: var(--color);
 }
 
 
 
 
 .button:hover {
  animation: button-particles 1s ease-in-out infinite;
  transform: translateY(-9px);
 }
 
 