.courses {
  text-align: center;
  padding: 1rem 0;
  margin: 10px;
}
.category{
  text-align: center;
  margin-top: 80px;
margin-bottom: 40px;
}
.category p{
  color: hsl(12, 89%, 50%);
  text-transform: uppercase;
}
.category h1{
  color: darkblue;
  font-size: xxx-large;
}
/* .courses button {
  margin: 0.5rem;
  width: 17%;
  font-size: medium;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
border: none;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}
.courses button:hover{
  animation: button-particles 1s ease-in-out infinite;
  transform: translateY(-9px);

} */
 .fa-icon{
  margin-right: 20px;
 }
.courses .button {
  --color: black;
  padding: 0.8em 1.75em;
  width: 300px;
  border-radius: 15px;
  border: .0.5px solid #FFD43B;
  transition: .5s;
  position: relative;
  cursor: pointer;
  font-weight: 600;
  font-size: 17px;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  text-transform: capitalize;
  color: var(--color);
  margin-left: 15px;
  background-color: white;
 }
 
 
 
 
 .button:hover {
  animation: button-particles 1s ease-in-out infinite;
  transform: translateY(-9px);
 }
 

 /* src/components/Courses.css */
 /* .courses-container {
  display: flex;
}

.courses-content {
  margin-left: 220px;
  padding: 20px;
  width: 100%;
} */

 